mixin incentive-card(title, description, organisation, points, index)
  script.
      var code;
      function confirmation(event) {
        var getConfirmation = document.getElementById($(event.target).attr('card-id'));
        getConfirmation.style.display = "block";
      }
      function cancel(event) {
        var getConfirmation = document.getElementById($(event.target).attr('card-id'));
        getConfirmation.style.display = "none";
      }
      function viewVoucher(event) {
        var getConfirmation = document.getElementById($(event.target).attr('card-id'));
        getConfirmation.style.display = "none";
        const title = $(event.target).attr('title');
        const organisation = $(event.target).attr('organisation');
        $.ajax({
          url: '/diners/redeem/',
          data: {
            title: title,
            organisation: organisation
          },
          success: (response) => {
            if (response != 0) {
              $( "div" ).data( "test", 'Voucher has been added to your list! Your code is: ' + response );
            }
            else {
              $( "div" ).data( "test", 'You do not have enough points to claim this incentive. Dine more to gain more!');
            }
            $( "span" ).text( $( "div" ).data( "test" ) );
            document.getElementById("voucher").style.display = "block";
          },
          error: err => {
            console.log("error:" + err);
          }
        });
      }

  div.modal(id = index)
    div.modal-content
      div.modal-body
        p Would you like to confirm your claim for #{title} for #{points} points?
      div.modal-footer
        a.btn.btn-primary(card-id=index title=title organisation=organisation onclick='viewVoucher(event)' type='button' class="btn") Confirm
        a.btn.btn-primary(card-id=index onclick='cancel(event)' type='button' class="btn") Cancel

  div#voucher.modal
    div.modal-content
      div.modal-body
        p <span></span>
      div.modal-footer
        a.btn.btn-primary(href='../diners/vouchers', type='button', class="btn") View my vouchers
        a.btn.btn-primary(card-id='voucher' onclick='cancel(event)', type='button', class="btn") Continue browsing

  div.card(style='background-color: whitesmoke; display: block; padding: 2px; margin-bottom: 10px; border-radius: 10px;')
    div.card-body
      div.clearfix
        img(src='../../images/testincentive.jpg' style='width:250px; height:150px; float: left; margin-right: 20px;')
        - rname = rname || 'No incentives to display at the moment'
        h5.card-title #{title}
        h6.points
          |#{points} points
        h6.card-text
          | #{description} 
        h7.organisation
          | This incentive is brought to you by <b>#{organisation}</b>
        a.btn.btn-primary(card-id=index onclick='confirmation(event)' style='border-color: #FECA1D; background-color: #FECA1D; float:right;') Claim