mixin incentive-card(title, description, organisation, points, index)
  div.modal(id = index)
    div.modal-content
      div.modal-body
        p Would you like to confirm your claim for #{title} for #{points} points?
      div.modal-footer
        a.btn.btn-primary(card-id=index title=title organisation=organisation onclick='viewVoucher(event)' type='button' class="btn") Confirm
        a.btn.btn-primary(card-id=index onclick='cancel(event)' type='button' class="btn") Cancel

  div.card(style='background-color: whitesmoke; display: block; padding: 2px; margin-bottom: 10px; border-radius: 10px;')
    div.card-body
      div.clearfix
        img(src='../../images/testincentive.jpg' style='width:250px; height:150px; float: left; margin-right: 20px;')
        - rname = rname || 'No incentives to display at the moment'
        h5.card-title #{title}
        h6.points
          |#{points} points
        h6.card-text
          | #{description} 
        h7.organisation
          | This incentive is brought to you by <b>#{organisation}</b>
        a.btn.btn-primary(card-id=index onclick='confirmation(event)' style='border-color: #FECA1D; background-color: #FECA1D; float:right;') Claim