mixin reservation-card(date, time, rname, raddress, review, rating, num_diners, is_completes)
  div.card(style='background-color: whitesmoke; display: block; padding: 10px; margin-bottom: 10px;')
    div.card-body
      - rname = rname || 'No reservations to display'
      h5.card-title(style='color:#FECA1D;') #{rname}, #{raddress} for #{num_diners} pax
      h7.dateandtime #{date}, #{time}
      br
      h7.card-text
        | <b>You rated:</b> #{rating}/5
        br
        | <b>You reviewed:</b> #{review}
      br
      h7.complete(style='font-size: 12px;')
        if is_complete
          | This reservation has been completed.
        else
          | Incomplete reservation.
