extends layout

block append content
  .container
    h1(style='text-align:center;') #{menu.title}
    div(style='margin: 0 20%;')
      each item in items
        div(style='padding:20px;')
          div(style='display:inline-block;')
            span(style='font-size:25px;font-weight:bold;') #{item.fname}
            span , 
            span $#{item.price}
          button.btn.btn-danger.delete-item(style='float:right;' fname=item.fname raddress=encodeURIComponent(menu.raddress) rname=menu.rname title=menu.title) Delete
    br
    div(style='margin:auto; text-align:center;')
      button.btn.btn-danger#delete-menu(style='margin:10px;' raddress=encodeURIComponent(menu.raddress) rname=menu.rname title=menu.title) Delete menu
      a.btn.btn-warning(style='margin:10px;' href='/menus/' + menu.rname + '/' + encodeURIComponent(menu.raddress) + '/add') Add menu items
