extends layout

block append content
  .container
    h1 #{menu.title}
    each item in items
      div
        p #{item.fname}, $#{item.price}
    br
    button.btn.btn-danger#delete-menu(raddress=menu.raddress rname=menu.rname title=menu.title) Delete menu