extends layout

block style
    style(type="text/css").
        restplate {
            float: top;
            width: 50%;
            text-align: center;
            border-style: solid;
            border-width: 0.05px;
            border-color: #FECA1D;
            margin-top: 30px;
            margin-left:auto;
            margin-right:auto;
            display:block;
        }
        plate {
            float: top;
            width: 50%;
            text-align: center;
            border-style: solid;
            border-width: 0.05px;
            border-color: rgba(254, 255, 246, 0);
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        information {
            text-align: left;
            font-size: 25px;

        }
        .btn {
            float: center;
            background-color: #FECA1D;

        }
        .wrapper {
            text-align: center;
        }
        #rest {
            padding: 10px 20px 10px 20px;
        }

        .date-input {
            position: relative;
            color: white;
        }

        .date-input:before {
            position: absolute;
            top: 7px; left: 10px;
            content: attr(data-date);
            display: inline-block;
            color: black;
        }

        .date-input::-webkit-datetime-edit, .date-input::-webkit-inner-spin-button, .date-input::-webkit-clear-button {
            display: none;
        }

        .date-input::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 10px;
            right: 5px;
            color: black;
            opacity: 1;
        }
        #timeslots {
            float: top;
            width: 50%;
            text-align: center;
            border-style: solid;
            border-width: 0.05px;
            border-color: #FECA1D;
            margin-top: 30px;
            margin-left:auto;
            margin-right:auto;
            display:block;
        }


block append content
    <restplate>
        h1(style="color:red") #{values.rname} 
        - var encoded = encodeURIComponent(values.raddress);
        form(method='POST' action='/restaurantowners/' + values.rname + '/' + encoded + '/updateTimeslot')
            <information>
            img(src='/images/restaurant1.jpeg' style='width:30px; height:30px; float:left; margin: 5px 20px;')
            div.form-group
                label Start Date:
                input.date-input.form-control(name='sdate' type='date' value=date min=date data-date='' data-date-format='DD MMMM YYYY')
            br
            img(src='/images/address_loc.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
            div.form-group
                label End Date
                input.date-input.form-control(name='edate' type='date' value=date min=date data-date='' data-date-format='DD MMMM YYYY')
            br
            img(src='/images/cuisine.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
            div.form-group
                label Start Time:
                input.form-control(name='stime' type='time' list='limittimelist')
                datalist#limittimelist
                    option(value="09:00")
                    option(value="10:00")
                    option(value="11:00")
                    option(value="12:00")
                    option(value="13:00")
                    option(value="14:00")
                    option(value="15:00")
                    option(value="16:00")
                    option(value="17:00")
                    option(value="18:00")
                    option(value="19:00")
                    option(value="20:00")
                    option(value="21:00")
            br
            img(src='/images/time.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
            div.form-group
                label End Time:
                input.form-control(name='etime' type='time' list='limittimelist')
                datalist#limittimelist
                    option(value="09:00")
                    option(value="10:00")
                    option(value="11:00")
                    option(value="12:00")
                    option(value="13:00")
                    option(value="14:00")
                    option(value="15:00")
                    option(value="16:00")
                    option(value="17:00")
                    option(value="18:00")
                    option(value="19:00")
                    option(value="20:00")
                    option(value="21:00")
            br
            img(src='/images/time.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
            div.form-group
                label Num Pax:
                input.form-control(name='pax' type='number', min=1, max=100 value=1)
            br
            img(src='/images/telephone.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
            div.form-group
                label Day:
                div.checkbox-inline
                    input.checkbox-input#create-shift-mon(type='checkbox', name='days', value=1)
                    label(for='create-shift-mon') Monday
                div.checkbox-inline
                    input.checkbox-input#create-shift-tue(type='checkbox', name='days', value=2)
                    label(for='create-shift-tue') Tuesday
                div.checkbox-inline
                    input.checkbox-input#create-shift-wed(type='checkbox', name='days', value=3)
                    label(for='create-shift-wed') Wednesday
                div.checkbox-inline
                    input.checkbox-input#create-shift-thur(type='checkbox', name='days', value=4)
                    label(for='create-shift-thur') Thursday
                div.checkbox-inline
                    input.checkbox-input#create-shift-fri(type='checkbox', name='days', value=5)
                    label(for='create-shift-fri') Friday
                div.checkbox-inline
                    input.checkbox-input#create-shift-sat(type='checkbox', name='days', value=6)
                    label(for='create-shift-sat') Saturday
                div.checkbox-inline
                    input.checkbox-input#create-shift-sun(type='checkbox', name='days', value=0)
                    label(for='create-shift-sun') Sunday
            button.btn.btn-light(type='submit' value='Submit') Add
            </information>

    </restplate>
    div#timeslots
        - var encoded = encodeURIComponent(values.raddress);
        h1(align="center") Current Timeslots:
        table(id="currtimes", align="center", width: "100%", font-size: "30px")
            thead 
                tr
                    th No.
                    th Date
                    th Time
                    th Pax
                    th 
            tbody
                each timeslot, i in timeslots
                    tr 
                        td= i+1
                        td= moment(timeslot.date).format('DD MMMM YYYY')
                        td= moment(timeslot.time, 'HH:mm:ss').format('hh:mm A')
                        td #{timeslot.num_available}
                        td  
                            button.btn.delete-timeslot(style='float:right;' raddress=encoded rname=values.rname date=timeslot.date time=timeslot.time) Delete
