extends layout

block style
  style(type="text/css").
    restplate {
      float: top;
      width: 50%;
      text-align: center;
      border-style: solid;
      border-width: 0.05px;
      border-color: #FECA1D;
      margin-top: 30px;
      margin-left:auto;
      margin-right:auto;
      display:block;
    }
    plate {
      float: top;
      width: 50%;
      text-align: center;
      border-style: solid;
      border-width: 0.05px;
      border-color: rgba(254, 255, 246, 0);
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    information {
      text-align: left;
      font-size: 25px;

    }
    form {
      background-color: #e3e3e3;
      width: 80%;
      margin:20px auto;

      padding: 20px 20px;
      -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }
    form .form-group {
      position: relative;
      margin-bottom: 30px;
    }
    form .form-control {
      background-color: #ebecee;
      border-radius: 4px;
      border: none;
      height: 40px;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #3e485c;
      font-size: 14px;
    }
    form .form-control::-webkit-input-placeholder {
      color: rgba(62, 72, 92, 0.3);
    }
    form .form-control:-ms-input-placeholder {
      color: rgba(62, 72, 92, 0.3);
    }
    form .form-control::placeholder {
      color: rgba(62, 72, 92, 0.3);
    }
    form input[type="date"].form-control:invalid {
      color: rgba(62, 72, 92, 0.3);
    }
    form select.form-control {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    form select.form-control + .select-arrow {
      position: absolute;
      right: 0px;
      bottom: 4px;
      width: 32px;
      line-height: 32px;
      height: 32px;
      text-align: center;
      pointer-events: none;
      color: rgba(62, 72, 92, 0.3);
      font-size: 14px;
    }
    form select.form-control + .select-arrow:after {
      content: '\279C';
      display: block;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    form .form-label {
      display: inline-block;
      color: #3e485c;
      font-weight: 700;
      margin-bottom: 6px;
      margin-left: 7px;
    }
    form .submit-btn {
      display: inline-block;
      color: #fff;
      background-color: #ff5a5f;
      font-weight: 700;
      padding: 14px 30px;
      border-radius: 4px;
      border: none;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
    form .submit-btn:hover,
    form .submit-btn:focus {
      opacity: 0.7;
    }

    booking-cta {
      margin-top: 80px;
      margin-bottom: 30px;
    }

    .booking-cta h1 {
      font-size: 52px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
    }

    .booking-cta p {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.8);
    }

block append content
  .container
    <restplate>
      h1(style="color:red") #{restName}
      img(src='/images/restaurant1.jpeg' style='width:500px; height:300px; float:top;')
      br
      br
      <information>
      img(src='/images/address_loc.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
      p <b>Address:</b>
      p #{restAddr}
      br
      img(src='/images/rest_owner.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
      p <b>Restaurant Owner:</b>
      p #{restaurantOwner}
      br
      img(src='/images/cuisine.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
      p <b>Cuisine:</b>
      p #{cuis}
      br
      img(src='/images/time.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
      p <b>Opening Hours:</b>
      p #{openinghr} - #{closinghr}
      br
      img(src='/images/telephone.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
      p <b>Contact Number:</b>
      p  #{phoneNum}
      </information>
    </restplate>
    br
    h1(style="color:mustard; text-align:center" ) Book Restaurant Now
    <plate>
      form(method='GET')
        row
          form-group
            span.form-label Date
              input.date-input.form-control(name ="date" type="date" value=date min=date date-date='' date-date-format='DD MMMM YYYY')
span.form-label Time
  input.form-control(name='time' type='time')
span.form-label Pax
  input.form-control(name='pax' type='number', min=1, max=100 value=1)

form-btn
  button.submit-btn Book Now
    </plate>

