extends layout

block style
  style(type="text/css").
    restplate {
      float: top;
      width: 50%;
      text-align: center;
      border-style: solid;
      border-width: 0.05px;
      border-color: #FECA1D;
      margin-top: 30px;
      margin-left:auto;
      margin-right:auto;
      display:block;
    }
    input[type=time]::-webkit-inner-spin-button,
    input[type=time]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    plate {
      float: top;
      width: 60%;
      text-align: center;
      border-style: solid;
      border-width: 0.05px;
      border-color: rgba(254, 255, 246, 0);
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    information {
      text-align: left;
      font-size: 25px;

    }
    form {
      background-color: #e3e3e3;
      width: 80%;
      margin:20px auto;

      padding: 20px 20px;
      -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }
    form .form-group {
      position: relative;
      margin-bottom: 30px;
    }
    form .form-control {
      background-color: #ebecee;
      border-radius: 4px;
      border: none;
      height: 40px;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #3e485c;
      font-size: 14px;
    }
    form .form-control::-webkit-input-placeholder {
      color: rgba(62, 72, 92, 0.3);
    }
    form .form-control:-ms-input-placeholder {
      color: rgba(62, 72, 92, 0.3);
    }
    form .form-control::placeholder {
      color: rgba(62, 72, 92, 0.3);
    }
    form input[type="date"].form-control:invalid {
      color: rgba(62, 72, 92, 0.3);
    }
    form select.form-control {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    form select.form-control + .select-arrow {
      position: absolute;
      right: 0px;
      bottom: 4px;
      width: 32px;
      line-height: 32px;
      height: 32px;
      text-align: center;
      pointer-events: none;
      color: rgba(62, 72, 92, 0.3);
      font-size: 14px;
    }
    form select.form-control + .select-arrow:after {
      content: '\279C';
      display: block;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    form .form-label {
      display: inline-block;
      color: #3e485c;
      font-weight: 700;
      margin-bottom: 6px;
      margin-left: 7px;
    }
    form .submit-btn {
      display: inline-block;
      color: #fff;
      background-color: #ff5a5f;
      font-weight: 700;
      padding: 14px 30px;
      border-radius: 4px;
      border: none;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
    form .submit-btn:hover,
    form .submit-btn:focus {
      opacity: 0.7;
    }

    booking-cta {
      margin-top: 80px;
      margin-bottom: 30px;
    }

    .booking-cta h1 {
      font-size: 52px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
    }

    .booking-cta p {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.8);
    }

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
    }

    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .modal-body {
      padding: 16px;
    }

    .modal-footer {
      padding: 2px 16px;
      background-color: #FECA1D;
      color: white;
      float: left;
    }

block append content
  script.
    function confirmation() {
      var date = document.getElementById('date-input').value;
      console.log(date);
      var time = document.getElementById('time-input').value;
      console.log(time);
      var pax = document.getElementById('pax-input').value;
      console.log(pax);

      document.getElementById('confirmation').style.display = "block";
      $( "div" ).data( "test", 'Booking on ' + date + ' at ' + time + ' for ' + pax + ' pax.');
      $( "span" ).text( $( "div" ).data( "test" ) );
    }
    function cancel() {
      document.getElementById('confirmation').style.display = "none";
    }
    function cancelAndRefresh() {
      document.getElementById('confirmed').style.display = "none";
      document.getElementById('rejected').style.display = "none";
      location.reload();
    }
    function returnConfirmation(event) {
      var date = document.getElementById('date-input').value;
      var time = document.getElementById('time-input').value;
      var pax = document.getElementById('pax-input').value;
      const rname = $(event.target).attr('rname');
      const raddr = $(event.target).attr('raddr');

      document.getElementById('confirmation').style.display = "none";
      $.ajax({
        url: '/restaurants/book/',
        data: {
          date: date,
          time: time,
          pax: pax,
          rname: rname,
          raddr: raddr
        },
        success: (response) => {
          // No error
          if (response == 1) {
            document.getElementById("confirmed").style.display = "block";
          }
          else if (response == 2) {
            document.getElementById("noparameters").style.display="block";
          }
          else if (response == 3) {
            document.getElementById("datepassed").style.display = "block";
          }
          else if (response == 4) {
            document.getElementById("slotbooked").style.display="block";
          }
          else {
            document.getElementById("rejected").style.display = "block";
          }
        },
        error: err => {
          console.log("error:" + err);
        }
      });
    }

  div#confirmation.modal
    div.modal-content
      div.modal-body
        p Would you like to confirm your booking for #{restName}?
        <span></span>
      div.modal-footer
        a.btn.btn-primary(rname=restName raddr = restAddr title=title organisation=organisation onclick='returnConfirmation(event)' type='button' class="btn") Confirm
        a.btn.btn-primary(onclick='cancel()' type='button' class="btn") Cancel

  div#confirmed.modal
    div.modal-content
      div.modal-body
        p Booking confirmed!
      div.modal-footer
        a.btn.btn-primary(href='/diners/reservations', type='button', class="btn") View my reservations
        a.btn.btn-primary(onclick='cancelAndRefresh()', type='button', class="btn") Continue browsing

  div#rejected.modal
    div.modal-content
      div.modal-body
        p Timeslot does not exist or slot is full.
        p Booking rejected.
      div.modal-footer
        a.btn.btn-primary(href='/diners/reservations', type='button', class="btn") View my reservations
        a.btn.btn-primary(onclick='cancelAndRefresh()', type='button', class="btn") Continue browsing

  div#noparameters.modal
    div.modal-content
      div.modal-body
        p Incorrect date and/or time passed in.
        p Please check. Booking rejected.
      div.modal-footer
        a.btn.btn-primary(href='/diners/reservations', type='button', class="btn") View my reservations
        a.btn.btn-primary(onclick='cancelAndRefresh()', type='button', class="btn") Continue browsing

  div#slotbooked.modal
    div.modal-content
      div.modal-body
        p Slot already booked. Please edit or delete and re-book again.
        p Booking rejected.
      div.modal-footer
        a.btn.btn-primary(href='/diners/reservations', type='button', class="btn") View my reservations
        a.btn.btn-primary(onclick='cancelAndRefresh()', type='button', class="btn") Continue browsing

  div#datepassed.modal
    div.modal-content
      div.modal-body
        p  Booking date has passed.
        p  Please choose a date from today onwards. Booking rejected.
      div.modal-footer
        a.btn.btn-primary(href='/diners/reservations', type='button', class="btn") View my reservations
        a.btn.btn-primary(onclick='cancelAndRefresh()', type='button', class="btn") Continue browsing

  .container
    <restplate>
      h1(style="color:red") #{restName}
      img(src='/images/restaurant1.jpeg' style='width:500px; height:300px; float:top;')
      br
      br
      <information>
      img(src='/images/address_loc.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
      p <b>Address:</b>
      p #{restAddr}
      br
      img(src='/images/rest_owner.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
      p <b>Restaurant Owner:</b>
      p #{restaurantOwner}
      br
      img(src='/images/cuisine.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
      p <b>Cuisine:</b>
      p #{cuis}
      br
      img(src='/images/time.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
      p <b>Opening Hours:</b>
      p #{openinghr} - #{closinghr}
      br
      img(src='/images/telephone.png' style='width:30px; height:30px; float:left; margin: 5px 20px;')
      p <b>Contact Number:</b>
      p  #{phoneNum}
      a(href='/restaurants/' + restName + '/' + encodeURIComponent(restAddr) + '/menus') View menus
      br
      a(href='/restaurants/' + restName + '/' + encodeURIComponent(restAddr) + '/timeslots') View Available Timeslots
      </information>
    </restplate>
    br
    if userIsDiner!= null && userIsDiner.type == 'diner'
      h1(style="color:mustard; text-align:center" ) Book Restaurant Now
      <plate>
        form(method='POST' action='/restaurants/book/')
          input.date-input(name='date' type='date' value=date min=date data-date='' data-date-format='DD MMM YYYY' id='date-input')
          input(name='time' type='time' id='time-input' list='limittimelist')
          datalist#limittimelist
            option(value="09:00")
            option(value="10:00")
            option(value="11:00")
            option(value="12:00")
            option(value="13:00")
            option(value="14:00")
            option(value="15:00")
            option(value="16:00")
            option(value="17:00")
            option(value="18:00")
            option(value="19:00")
            option(value="20:00")
            option(value="21:00")
          input(name='pax' type='number', min=1, max=100 value=1 id='pax-input')
          a.btn.btn-primary(card-id=index onclick='confirmation()' style='border-color: #FECA1D; background-color: #FECA1D; float:right;') Book Now
      </plate>
